<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IndoBidsCategoryFilteredComponent</title>
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
</head>
<body>

<div class="title">
  <h2>Showing products for category: {{filteredOfferDTOS[0].categories[0].value}}:</h2>
</div>
<div *ngFor="let offerDTO of filteredOfferDTOS | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
  <app-offer [offer]="offerDTO"></app-offer>
</div>
<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h2 class="subheader"></h2>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
</body>
