<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IndoBidsCatalogComponent</title>
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">


</head>
<body>
<!--<div>
  <app-categoriesSection></app-categoriesSection>
</div>-->

<!-- section title -->
<div class="col-md-12">
  <div class="section-title">
    <h1 class="title">New Products by {{shopDTO.name}}</h1>
    <div class="section-nav">
      <ul class="section-tab-nav tab-nav">
        <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
        <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
        <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
        <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <app-catalog-filter [offerDTOS]="offerDTOS" [shopDTO]="shopDTO"></app-catalog-filter>
</div>
<div class="row">
  <app-catalog-pagination [offerDTOS]="offerDTOS" [shopDTO]="shopDTO"></app-catalog-pagination>
</div>
</body>
