<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IndoBidsCatalogComponent</title>
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
</head>
<body>
<!--<div>
  <app-categoriesSection></app-categoriesSection>
</div>-->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
<app-sortingsection [shoptitle]="shopDTO.name"></app-sortingsection>
    <!-- /section title -->
    <div *ngFor="let offerDTO of offerDTOS; let i = index" class="item">
      <app-offer [offer]="offerDTO"
                 [shop]="shopDTO">
      </app-offer>
      <div class="clearfix visible-sm visible-xs"></div>
    </div>
  </div>
  <!-- store bottom filter -->
  <div class="store-filter clearfix">
    <span class="store-qty">Showing 20-100 products</span>
    <ul class="store-pagination">
      <li class="active">1</li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>
</div>
</body>
