<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IndobidsSortingsectionComponent</title>
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
</head>
<body>
<div class="row">
  <div class="col-md-12">
    <div class="section-title">
      <h3 class="title">New Products this week by {{shoptitle}}</h3>
      <div class="section-nav">
        <ul class="section-tab-nav tab-nav">
          <li class="active"><a data-toggle="tab" href="#tab1">By price ascending</a></li>
          <li><a data-toggle="tab" href="#tab1">By price descending</a></li>
          <li><a data-toggle="tab" href="#tab1">By discount </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>

