<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IndobidsOfferComponent</title>
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
</head>
<body>

<!-- STORE -->

<div id="store" class="col-md-20">
  <!-- store products -->
  <div class="col">
    <!-- product -->
    <div class="col-md-4 col-xs-10">
      <div class="product">
        <div class="product-img">
          <img
            src="{{offer.picturesUrls[0]}}"
            alt="Offer {{offer.id}}"
            routerLink="/details/{{offer.id}}">

          <div class="product-label">
            <span class="sale" *ngIf="offer.discount > 0">-{{offer.discount * 100}}%</span>
            <span class="new">NEW</span>
          </div>
        </div>
        <div class="product-body">
          <p class="product-category">{{offer.categories[0].value}}</p>
          <h3 class="product-name"><a routerLink="/details/{{offer.id}}">{{offer.name}}</a></h3>
          <h4 class="product-price">${{offer.price}}
            <del class="product-old-price">${{offer.oldprice}}</del>
          </h4>
          <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product-btns">
            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
            </button>
            <button class="add-to-compare" (click)="goToShopUrl()"><i class="fa fa-arrow-right"></i><span
              class="tooltipp">go to website</span>
            </button>
            <button class="quick-view" (click)="showOfferDetails(offer.id)"><i class="fa fa-eye"></i><span
              class="tooltipp">view details</span></button>
          </div>
        </div>
        <div class="add-to-cart">
          <button class="add-to-cart-btn" (click)="goToOfferUrl()"><i class="fa fa-shopping-cart"></i> Buy now!</button>
        </div>
      </div>
    </div>
    <!-- /product -->
  </div>
</div>

</body>
